select {
    width: 88%;
  }
  
  .myin{
  
    width: 76px;
  }
  .data
  {
    margin-bottom: 10px;
    margin-left: 15%;
    background-color: #212121;
    border-radius: 52px;
  }
  
  .myla
  {
    font-weight: bold;
    background-color: #FF5722;
    padding: 7px;
    color: white;
    width: 120px;
    text-align: center;
    margin: 10px 42%;
  }
  .smi
  {
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    color: aliceblue ;
    margin-left: 35px;
    font-size: 20px;
  }
  input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    width: 51px;
    height: 21px;
  }
  .done {
  
    width: 366px;
  }
  .size{
    background-color: #EF6C00;
    padding: 8px;
    color:aliceblue;
    margin-bottom: 5px;
  }
  .totalprice{
    margin-bottom: 20px;
    background-color: #E65100;
    padding: 8px;
    color:aliceblue
  
  }
  .check-out{
    border-radius: 30px;
    background-color: white;
    padding: 20px;
    width:400px;
    font-size: 21px;
    font-weight: bold;
    margin:40px 369px
  
  }
  