<table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">name categorie</th>
      <th scope="col">options</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let order of orders">
      <th scope="row">{{order.id} </th>
      <td>{{order.</td>
      
      
      
      <td>
        <button class="btn btn-success" >UpDate</button>
        <button class="btn btn-primary"   >Delete</button>
      </td>
  
    </tr>
    </tbody>
  </table>
  
  <button class="btn btn-danger" routerLink="/add-categorie">Add</button>

